*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: #c5f0ff81;
}
#banner img{    
    width: 100vw;
    height: auto;
}
h2{
    size: 48px;
    text-align: center;
    margin: 2em;
    color: #1e465f;
}
article.text{
    width: 80vw;
    height: auto;
    justify-content: center;
    margin: auto;
    color: #1e465f;
    font-size: 18px;
    
}
.text #txtImg{
    margin-left: 25%;
    width: 20vw;
    height: auto;
    border-radius: 5px;
}
#grup{
    float: right;
    margin-right: 30%;
    margin-top: 7%;
}
.line img{
    display: flex;
    width: 40vw;
    height: 10px;
    margin: auto;
    margin-top: 3em;
}
a.start{    
    color: #1e465f;
    text-decoration: none;
    transition: 0.3s;
    position: fixed;
    cursor: pointer;
    top: 91vh;
    right: 4%;
    border: none;
}
a.start:hover {
    color: #ffffff;
    background-color: #1e465f;
    border-radius: 30px;
    padding: 0.5em;
}
div#map{
    margin: auto;
    text-align: center;
    margin-bottom: 4em;
}
.socialMedia{
    margin: auto;
    text-align: center;
    margin-top: 3em;
}
.socialMedia img{
    width: 2em;
    height: auto;
    padding-right: 1em;
}
.socialMedia img:hover {
    width: 2.5em;
    height: auto;
}
p{
    margin: 1em;
}
.fone{
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
}

@media (max-width: 1020px) {
    .text #txtImg{
        float: none;
        display: block;
        margin: auto;
        width: 50vw;
        height: auto;
        border-radius: 5px;
    }
    #grup{
        display: block;
        width: 100%;
        float: none;   
        margin-left: 0;
        text-align: center;
        margin-top: 2em;
    }
}

@media (max-width: 400px) {
    .socialMedia img{
        display: block;
        margin: auto;
        margin-bottom: 2em;
    }
}