form{
    display: grid;
    margin: auto;
}
#form input, textarea{
    width: 40vw;
    height: auto;
    padding: 0.7em;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 3px;
    border: 2px solid #1e465f;
}
#form button{
    width: 10vw;
    height: 2.6em;
    margin: auto;
    border-radius: 3px;
    border: 2px solid #1e465f;
    background-color: #ffffff;
    color: #1e465f;
    font-size: 0.9em;
    margin-bottom: 3em;
}
#form button:hover{
    background-color: #1e465f;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 1em;
    transition: 0.3s;
}
@media (max-width: 550px){
    #form input, textarea{
        width: 70vw;
    }
    #form button{
        width: 20vw;
    }
}